<a id="postClick" href="/api/dashboard/edit/{{id}}">
<div class="postContainer">
  <h3>
    {{title}}
  </h3>
  <h5>
    {{user.userName}} on {{formatDate date}}
  </h5>
  <div class="postContainerText">
    <p>{{content}}</p>
  </div>
</div>
</a>
